* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-image: url('https://s-trojmiasto.pl/zdj/c/n/9/3761/1920x0/3761847-Trwa-rekrutacja-w-Polsko-Japonskiej-Akademii-Technik-Komputerowych.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: system-ui, sans-serif;
    
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    height: 98%;
    display: flex;
}

.sidebar {
    width: 260px;
    background: rgba(55, 86, 150, 0.7);
    color: white;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    display: block;
    padding: 14px 30px;
    color: #d8e4ff;
    border-bottom: 1px solid rgba(0, 76, 207, 0.9);
    text-decoration: none;
}

.sidebar > ul > li > a {
    background: rgba(45, 85, 155, 0.9);
    color: white;
    font-weight: 600;
}

.sidebar ul ul a {
    padding-left: 52px;
    background: rgba(25, 50, 100, 0.5);
    font-size: 15px;
}

.sidebar a:hover {
    background: rgba(70, 120, 200, 0.85);
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgba(70, 120, 200);
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 40px 10px;
}

h3 {
    color: #0011ff;
    margin-bottom: 19px;
    font-size: 35px;
}

h2 {
    color: black;
    margin: 35px 0 11px;
    font-size: 25px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 32px auto;
    max-width: 280px;
}

ol {
    margin: 19px 0 32px 35px;
    line-height: 1.65;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

th, td {
    padding: 13px 15px;
    text-align: center;
    border: 2px solid rgba(70, 120, 200);
}

th {
    background: #3366aa;
    color: white;
}

tr:nth-child(even) {
    background-color: #f6faffa6;
}

.footer {
    background: #000983;
    color: #cce0ff;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.footer p {
    margin: 8px;
}