* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: system-ui, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background: white;
    color: white;
}

.sidebar ul {
    list-style: none;
    display: flex;
}

.sidebar > ul > li {
    position: relative;
}

.sidebar a {
    display: block;
    padding: 14px 28px;
    text-decoration: none;
}

.sidebar > ul > li > a {
    background: white;
    font-weight: 600;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 1);
}

.sidebar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 267px;
    z-index: 10;
    background: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}

.sidebar li:hover > ul {
    display: block;
}

.sidebar ul ul a {
    padding: 12px 24px;
    border-bottom: black solid 1px;
}

.sidebar a:hover {
    background: #e4e4e4
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #e4e4e4;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 15px 15px;
    display: flex;
    gap: 40px;
}

#sekcja1,
#sekcja2 {
    flex: 1;
    width: auto;
    height: auto;
    background: white;
    box-shadow: 0 4px 16px rgba(95, 95, 95, 0.2);
    padding: 30px;
}

#sekcja2 {
    height: 100%;
    margin-right: 2%;
}

#sekcja1 h3 {
    color: #0033ff;
    margin-bottom: 20px;
    font-size: 34px;
}

h2 {
    color: #001144;
    margin: 25px 0 10px;
    font-size: 26px;
}

p {
    color: #4b4b4b;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

ol {
    margin: 20px 0 15px 40px;
    line-height: 3.5;
}

th, td {
    padding: 20px 20px;
    text-align: center;
}

.footer {
    background: white;
    color: gray;
    padding: 40px 40px;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.footer p {
    margin: 0;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    .content {
        flex-direction: column;
        gap: 30px;
        padding: 20px 15px;
    }

    #sekcja1,
    #sekcja2 {
        width: 100%;
    }

    #sekcja2 {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .sidebar a {
        padding: 12px 16px;
        font-size: 15px;
    }

    .content {
        padding: 15px 10px;
    }

    h3 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    .footer {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 25px 20px;
    }
}